<!DOCTYPE html>
<html>
  <head>

    <!-- PAGE TITLE -->
    <title>Wylt</title>

    <!-- FAVICON -->
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS STYLESHEET -->
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>

    <!-- JAVASCRIPT -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- IE FIX -->
    <%= render 'layouts/shim' %>
    
  </head>

  <body>
		<%= yield %>
    <%= render 'layouts/footer' %>
	</body>

</html>
